@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.main-card:hover .hovver {
  opacity: 1;
  transition: all 0.3s, transform 0.3s;
  transform: translateY(12px);
}

.main-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  scale: 20px;
  transition: all 0.5s;
}

.category {
  div:hover {
    cursor: pointer;
    h4 {
      color: #46a358;
      font-weight: 500;
    }
  }
}

.sizes {
  div:hover {
      cursor: pointer;
  
      h4 {
        color: #46a358;
        font-weight: 500;
      }
    }
}

/* styles.css */
.header form input {
  border: 1px solid #46a358;
  border-radius: 20px;
  padding: 8px 20px;
  outline: none;
}

.header form button {
  background: none;
  border: none;
  cursor: pointer;
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
